h3 TASKS

form(name='taskForm', novalidate)
  .form-group
    label(for='title') Title
    input.form-control#title(name='title', type='text', ng-model='task.title')
  .form-group
    label(for='dueDate') Due Date
    input.form-control#dueDate(name='dueDate', type='date', ng-model='task.dueDate')
  .form-group
    label(for='priority') Priority
    select.form-control#priority(name='priority', ng-model='task.priority')
      option Low
      option Medium
      option High
  .form-group
    button.btn.btn-primary(ng-click='addTask(task)') Add Task
    button.btn.btn-success(ng-click='updateTask(task)') Update Task
    
    
table.table.table-striped
  thead
    tr
      th Edit
      th Delete
      th Title
      th Due Date
      th Priority
      th Complete?
      th Created At
  tbody
    tr(ng-repeat='task in afTasks | order by: "title"' ng-class='{completed: task.isComplete}')
      td: button.btn.btn-info.btn-xs(ng-click='editTask(task)') Edit
      td: button.btn-danger.btn-xs(ng-click='deleteTask(task)') Delete
      td {{task.title}}
      td {{task.dueDate | date: 'yyyy-MM-dd'}}
      td {{task.priority}}
      td: input(type='checkbox', ng-model='task.isComplete', ng-click='toggleComplete(task)')
      td {{task.createdAt | date: 'yyyy-MM-dd'}}
